.gamecontent{
	padding-top: 30px;
	padding-bottom: 30px;
	margin: auto;
}
.gamepage{
	text-align: center;
}
.pagewidth{
	margin: 0px auto; 
	padding-right: 130px;
    padding-left: 130px;
	line-height: 26px; 
	overflow: hidden;
}
.pagewidth_wide{
	margin: 0px auto; 
	padding-right: 60px;
    padding-left: 60px;
	line-height: 26px; 
	overflow: hidden;
}
