<head>
	{% include head.html %}
</head>
<body>
<div class="pagewidth_wide">
	<h1>YYC的健美小站</h1>
	<a href="Pages/russian.html">YYC's Blocks</a>
	<p></p>
	<a href="Pages/space.html">YYC's Car</a>
	<p></p>
	<a href="Pages/bird.html">YYC's Bird</a>
	<p></p>
	<a href="Games/2048/2048.html">YYC's 2048</a>
	<p></p>
	<p>YYC's favourite song</p>
	<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=445153312&auto=1&height=66"></iframe>
	<p>Powered by <a href="http://blog.csdn.net/henyouyisiba123">YYC</a></p>
</div>
</body>
